<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Votify</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:700,500,400,300,100|Comfortaa" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href='../public/styles/poll.css'>
    	<link rel="icon" href='public/images/orange-poll.png'>
	</head>

	<body>

		<div class="background">
			<div class="navbar-container">
				<% include ./partials/navbar %>
			</div>

			<div class='main-container'>
				<div class="poll-outline">
					<div class='poll-holder'>
						<div class='poll-interface'>

							<div class="poll-title">
								<%= poll.title %>
							</div>
							<div class="poll-author">
								by <%- link_to(poll.author.name, '../users/' + poll.author.twitterId) %>
							</div>

							<div class='poll-indent'>
								<form id='vote-form' action=<%= poll['_id'] + '/vote' %>>
									<% for(var i = 0; i < poll.options.length; i++) { %>
										<div class='option'>
											<input type="radio" name='user-choice' required value=<%= i %>>
											<%= poll.options[i].name %>
										</div>
									<% } %>
									<div class='init-new-option'>Or add your own option...</div>
									<button class='vote-button' type='submit'>Vote!</button>
								</form>

								<div class="vote-response"></div>

								<% if(userInfo && userInfo.hasOwnProperty('screen_name')) { %>
									<div class="new-option">
										<form method='POST' class='new-option-form' action=<%= poll['_id'] + '/add-option' %> >
											<input type="text" name="new-option" placeholder="New Option" required>
											<button type='submit' class='create-new'>Create</button>
											<button type='button' class='cancel-new'>Cancel</button>								
										</form>
									</div>
								<% } %>
							</div>

						</div>
						<div class="poll-results">
							<% if(userInfo && userInfo.hasOwnProperty('screen_name') && userInfo['screen_name'] === poll.author.name) { %>
								<div class='delete-button'>
									<a href=<%= poll['_id'] + '/delete-poll' %>>Delete Poll</a>
								</div>
							<% } %>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<% include ./partials/footer %>
			</footer>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src='../public/js/navbar.js'></script>
		<script>
			var poll = <%- JSON.stringify(poll) %>;
		</script>
		<script src='../public/js/Chart.min.js'></script>
		<script src='../public/js/makechart.js'></script>
		<script src='../public/js/poll.js'></script>
	</body>
</html>