<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Voting App</title>
		<link rel='stylesheet' type='text/css' href='../public/poll.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	</head>

	<body>

		<div class="background">
			<div class="navbar-container">
				<div class="navbar">
					<div class='destination'><a href='../'>All Polls</a></div>
					<div class='destination'><a href='../newpoll'>New Poll</a></div>
				</div>
			</div>

			<div class='main-container'>
				<div class="poll-holder">
					<div class='poll-interface'>
						<div class="poll-title">
							<%= poll.title %>
						</div>
						<div class="poll-author">
							by <%= poll.author %>
						</div>
						<form method='POST' action=<%= poll['_id'] + '/vote' %>>
							<% for(var i = 0; i < poll.options.length; i++) { %>
								<div>
									<input type="radio" name='user-choice' required value=<%= i %>>
									<%= poll.options[i].name %>
								</div>
							<% } %>
							<button type='submit'>Vote!</button>
						</form>
						<div class="new-option">
							<div class='init-new-option'>
								Add your own option...
							</div>
							<form method='POST' class='new-option-form' action=<%= poll['_id'] + '/add-option' %> >
								<input type="text" name="new-option" placeholder="New Option" required>
								<button type='submit'>Create</button>
								<button type='button' class='cancel-new'>Cancel</button>								
							</form>
						</div>
					</div>
					<div class="poll-results">
						<div class="poll-chart">
							<canvas id='myChart' width='400' height='400'></canvas>
						</div>
						<div class='text-results'>
							<% for(var i = 0; i < poll.options.length; i++) { %>
								<%= poll.options[i].name %>: <%= poll.options[i].votes %>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src='../public/Chart.min.js'></script>
		<script>
			var poll = <%- JSON.stringify(poll) %>;
			function getRandomColor() {
			    var letters = '0123456789ABCDEF'.split('');
			    var color = '#';
			    for (var i = 0; i < 6; i++ ) {
			        color += letters[Math.floor(Math.random() * 16)];
			    }
			    return color;
			}

			var categoryNames = [];
			var categoryVotes = [];
			var categoryColors = [];

			for(var i = 0; i < poll.options.length; i++) {
				categoryNames.push(poll.options[i].name);
				categoryVotes.push(poll.options[i].votes);
				categoryColors.push(getRandomColor());
			};

			var ctx = document.getElementById('myChart');
			var myDoughnutChart = new Chart(ctx, {
			    type: 'doughnut',
			    data: {
			    	labels: categoryNames,
			    	datasets: [{
			    		data: categoryVotes,
			    		backgroundColor: categoryColors
			    	}]
			    }
			});
		</script>
		<script type="text/javascript" src='../public/poll.js'></script>

	</body>
</html>