<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Voting App</title>
		<link rel='stylesheet' type='text/css' href='./public/style.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>

	<body>

		<div class="background">
			<div class='container'>
				<div class="poll-holder">
					<div class="poll-title">
						<%= poll.title %>
					</div>
					<div class="poll-author">
						by <%= poll.author %>
					</div>
					<form method='POST'>
						<% for(prop in poll.options) { %>
							<input type="radio" name='user-choice' value=<%= prop %>> <%= prop %> 
						<% } %>
						<button type='submit'>Submit</button>
					</form>
					<div class="poll-results">
						Results:
						<% for(prop in poll.options) { %>
							<%= prop %>: <%= poll.options[prop] %>
						<% } %>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>